<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/bootstrap.css') }}">
    <title>Register Your Account</title>
</head>

<body>
    <div class="registerBox">
        <h1 class="h1Design">Register Your Account</h1>
        <p class="textDes">Please Upload Your student Number Card</p>
        <form class="formBox" method="post" action="/userinfo" enctype="multipart/form-data">
            <p>
                <input class="fileUploadBox" type="file" name="file" autocomplete="off" required>
            </p>
            <p>
                <input class="submitBox btn btn-secondary" type="submit" value="Submit">
            </p>
        </form>
    </div>
</body>

</html>
