*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.body{
    background-color: rgb(23, 73, 73);
}
h1{
    width: 800px;
    margin: auto;
    font-size: 20px;
    margin-top: 50px;
    text-align: center;
    color: rgb(41, 41, 41);
    margin-bottom: 100px;
}
.containerBox{
    width: 500px;
    margin: auto;
    margin-top: 200px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgb(219, 219, 219);
    box-shadow: 1px 1px 1px 1px rgb(201, 201, 201);
}
form{
    padding: 20px;
}
.bbutton{
    width: 100px;
    margin: auto;
}