<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./faceID.css">
    <link rel="stylesheet" href="./adminauthentication.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/faceID.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/adminauthentication.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/viewEdit.css') }}">
    <title>Face ID</title>
</head>
<body>
    <div class="scriptBox">
        <h1>FACE RECOGNITION</h1>
        <p>Find the right location!</p>
    </div>
    <div class="boxCam">
        <div class="textCam">
            <img  class="camBox" src="{{ url_for('video_feed') }}">
        </div>
    </div>
    <form class="buttonBox" method="post" enctype="multipart/form-data">
        <div>
          <a class="button1" href="{{ url_for('confirmLogin') }}" style="text-decoration: none;">Confirm</a>
        </div>
    </form>
    <div class="blockBox">
        Block
    </div>
    <footer>
        <div class="footer">
            Copyright @ FCVS Project
        </div>
    </footer>
</body>
</html>