<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lam gi he</title>
</head>
<body>
    <div>
        <div>
            <h1>Hoang</h1>
            <ol>
                <li>
                    Log In for Admin
                </li>
                <li>
                    Log Out for Admin
                </li>
                <li>
                    Static for Admin Managment
                </li>
                <li>
                    Register An Account
                </li>
                <li>
                    Homepage
                </li>
                <li>
                    Landing Page
                </li>
            </ol>
            <h1>Shin</h1>
            <ol>
                <li>
                    Output card 
                </li>
                <li>
                    FaceID Verification
                </li>
                <li>
                    About Us
                </li>
                <li>
                    Chart Static
                </li>
                <li>Association from Kiet</li>

            </ol>
        </div>
    </div>
</body>
</html>