<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./LogInLogOut.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/LogInLogOut.css') }}">
    <title>Admin Authentication</title>
</head>
<body>
    <!-- partial:index.partial.html -->
    <section class="login" id="login">
      <div class="head">
      <h1 class="company">Log In</h1>
      </div>
      <p class="msg">Welcome back</p>
      <div class="form">
        <form>
      <input type="text" placeholder="Username" class="text" id="username" required=""><br>
      <input type="password" placeholder="Password" class="password"><br>
      <a href="#" class="btn-login" id="do-login">Login</a>
      <a href="#" class="forgot">Forgot?</a>
        </form>
      </div>
    </section>
    <!-- partial -->
      <script src="./LogInLogOut.js"></script>
    </body>
</html>