<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/viewEdit.css') }}">
  <title>Edit And Confirm</title>
</head>

<body>
  <div class="confirmBox">
    <div class="textBox">
      <h1>Confirm Your Information</h1>
    </div>
    <div class="informationBox">
      <div class="inputBox">
        <label>Your School: {{school}}</label>
      </div>
      <div class="inputBox">
        <label>Your Fullname: {{sname}}</label>
      </div>
      <div class="inputBox">
        <label>Your Student Number: {{sid}}</label>
      </div>
      <div class="inputBox">
        <label>Your Expiry Date: {{exdate}}</label>
      </div>
    </div>
  </div>
  <form class="buttonBox" method="post" enctype="multipart/form-data">
    <div>
      <a class="button1" href="{{ url_for('confirm') }}" style="text-decoration: none;">Confirm</a>
    </div>
    <div>
      <a class="button2" href="{{ url_for('edit')}}" style="text-decoration: none;">Edit</a>
    </div>
  </form>
</body>

</html>