* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.adminName {
    width: 120px;
    margin-left: 30px;
    margin-top: 30px;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 10px;
    background-color: #d10606;
    box-shadow: 1px 1px 1px 1px rgb(216, 216, 216);
    color: aliceblue;
}

.tableDesign {
    margin-left: 30px;
    padding: 20px;
    justify-content: center;
    margin-right: 30px;
    margin-top: 20px;
    border-radius: 10px;
}

.tableDesign th {
    border: 1px solid black;
    text-align: center;
    width: 800px;
    margin: auto;
    margin-left: 20px;
    background-color: #d10606;
    color: white;
}

.tableDesign tr td {
    border: 1px solid black;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #d10606;
    color: white;
}

.footer {
    margin-top: 30px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 8px;
    background-color: rgb(138, 136, 136);
    color: white;
    text-align: center;
}

.imgDesign {
    width: 200px;
    margin: auto;
}

.imgBox {
    width: 200px;
    margin: auto;
    margin-top: 100px;
}

.imgBox p {
    width: 300px;
    margin-top: 20px;
    color: rgb(63, 63, 62);
    font-size: 18px;
}

.printOption {
    width: 500px;
    margin: auto;
    font-size: 24px;
    margin-top: 30px;
}

.printButton {
    padding: 5px;
    border-radius: 15px;
    background-color: #d10606;
    color: white;
    border: 1px solid white;
}

.printButton:hover {
    padding: 7px;
    border-radius: 15px;
    background-color: #d10606;
    color: white;
    border: 1px solid rgb(161, 161, 161);
    box-shadow: 5px 5px 4px 1px rgb(206, 205, 205);
}

.informationBox {
    width: 400px;
    background-color: #d10606;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 4px 4px 4px 4px whitesmoke;
    color: white;
}

.inputBox {
    margin-left: 30px;
}