*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #eee;
}

.scriptBox{
    width: 400px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
}
.scriptBox h1{
    color: rgb(0, 51, 95);
}
.scriptBox p{
    color: rgb(136, 136, 136);
}
.boxCam{
    width: 700px;
    margin-bottom: 100px;
    margin: auto;
    overflow: hidden;
    margin-top: 50px;
    border-radius: 10px;
    height: auto;
    background-color: #fff;
    box-shadow: 2px 2px 2px 2px rgb(168, 168, 168);
}
.textCam{
    text-align: center;
}
.camBox{
}
.blockBox{
    color: white;
    height: 50px;
}