*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    
}
.registerBox{
    width: 500px;
    margin: auto;
    margin-top: 300px;
    margin-bottom: 200px;
    border-radius: 15px;
}

.formBox{
    background-color: rgb(234, 234, 234);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgb(204, 204, 204);
}

.h1Design{
    text-align: center;
    color: rgb(67, 67, 67);
}
.textDes{
    text-align: center;
    color: rgb(119, 119, 119);  
    margin-bottom: 20px; 
}
.fileUploadBox{
    width: 300px;
    margin-left: 120px;
    margin-bottom: 30px;
}
.submitBox{
    width: 100px;
    margin-left: 180px;
}